<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/yzsylogo.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href=@Url.Content("/")  alt="首页" title="首页"><img src=@Url.Content("~/Images/index_logo.png") /></a>
                    </div>
                
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="head-line"></div>
        </header>
        <div id="body">
            @RenderBody()
            <div class="clear-fix"></div>
        </div>
        <div class="foot-line"></div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 鄞州三院积分商城</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src=@Url.Content("~/scripts/common.js") type="text/javascript"></script>
        @RenderSection("scripts", required: false)
        @if (Request.IsAuthenticated) { 
                    <script>
                    $(document).ready(function () {
                        showpoints();
                    });
                    var showpoints = function () {
                        $.ajax({
                            type: 'post',
                            method: 'GET',
                            dataType: 'json',
                            url: '../../util/showpoints',
                            success: function (data) {
                                $('#points').html(data.points);
                            },
                            error: function (res) {
                                alert(res);
                            }
                        });
                    };
                </script>
        }

    </body>
</html>
